<nav class="navbar">
    <div class="dark-mode">
        <button class="switch" id="switch">
            <span><i class="fas fa-sun"></i></span>
            <span><i class="fas fa-moon"></i></span>
        </button>
    </div>
    <ul>
        <li routerLink="/inicio">
            <a routerLinkActive="activo">Inicio</a>
        </li>
        <li routerLink="/sobre-mi">
            <a routerLinkActive="activo">Sobre mi</a>
        </li>
        <li routerLink="/proyectos">
            <a routerLinkActive="activo">Proyectos</a>
        </li>
        <li routerLink="/contacto">
            <a routerLinkActive="activo">Contacto</a>
        </li>
    </ul>
</nav>