.footer {
    width: 100%;
    height: 120px;
    background: #fff;
}

.footer__sociales {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__sociales a {
    display: flex;
    background: #fff;
    height: 55px;
    width: 55px;
    margin: 0 15px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15), -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(0, 0, 0, 0);
    transition: transform 0.5s;
}

.footer__sociales a i {
    font-size: 35px;
    color: #777;
    transition: transform 0.5s;
}

.footer__sociales a:hover {
    box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2), inset -6px -6px 10px -1px rgba(255, 255, 255, 0.7), -0.5px -0.5px 0px rgba(255, 255, 255, 1), 0.5px 0.5px 0px rgba(0, 0, 0, 0.15), 0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transform: translateY(2px);
}

.footer__sociales a:hover i {
    transform: scale(0.90);
}

.footer__sociales a:hover .fa-whatsapp {
    color: #4fce5d;
}

.footer__sociales a:hover .fa-github {
    color: #171515;
}

.footer__sociales a:hover .fa-linkedin-in {
    color: #0e76a8;
}

.footer__creador {
    width: 100%;
    height: 30px;
    /* background: var(--bg-primario); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__creador p {
    text-align: center;
    font-size: 0.9rem;
}