<footer class="footer">
    <div class="footer__sociales">
        <a href="https://api.whatsapp.com/send?phone=51922752910&text=Hola,%20estoy%20buscando%20un%20Desarrollador%20Web!%20%F0%9F%98%80" target="_blank"><i class="fab fa-whatsapp"></i></a>
        <a href="https://github.com/immalz" target="_blank"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/marco-alzamora-486671185/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
    </div>
    <div class="footer__creador">
        <p>Marco Alzamora © 2021</p>
    </div>
</footer>